<h2>Template: <small>Dinamicos</small></h2>
<hr />

<form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        placeholder="Nombre del guey"
        name="nombre"
        required
      />
      <span
        class="form-text text-danger"
        *ngIf="
          miFormulario.controls['nombre'].errors &&
          miFormulario.controls['nombre'].touched
        "
      >
        Campo obligatorio
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn-primary float-end"
        (click)="guardar()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
