<h2>Template</h2>
<hr />
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let menuItem of menuItemsTemplate"
    [routerLink]="menuItem.route"
    routerLinkActive="active"
  >
    {{ menuItem.texto }}
  </li>
</ul>

<h2 class="mt-4">Reactive</h2>
<hr />
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let menuItem of menuItemsReactive"
    [routerLink]="menuItem.route"
    routerLinkActive="active"
  >
    {{ menuItem.texto }}
  </li>
</ul>

<h2 class="mt-4">Validadciones</h2>
<hr />
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let menuItem of menuItemsAuth"
    [routerLink]="menuItem.route"
    routerLinkActive="active"
  >
    {{ menuItem.texto }}
  </li>
</ul>
