<h2>Template</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">
      <!-- ========== Start producto ========== -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="ej. Crema Nutella..."
            [ngModel]="initForm.producto"
            name="producto"
            required
            minlength="3"
          />
          <span class="form-text text-danger" *ngIf="nombreValido()"
            >Debe llevar almenos 3 letras</span
          >
        </div>
      </div>
      <!-- ========== End producto ========== -->

      <!-- ========== Start precio ========== -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="ej. $ 43.58"
            [ngModel]="initForm.precio"
            name="precio"
          />
          <span class="form-text text-danger" *ngIf="precioValido()"
            >El precio debe ser mayor a $0</span
          >
        </div>
      </div>
      <!-- ========== End precio ========== -->

      <!-- ========== Start existencias producto ========== -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            [ngModel]="initForm.existencias"
            name="existencias"
            customMin
            [minimo]="0"
            placeholder="ej. 5"
          />
        </div>
      </div>
      <!-- ========== End existencias producto ========== -->

      <!-- ========== Start buttons ========== -->
      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="miFormulario.valid == false"
          >
            Guardar
          </button>
        </div>
      </div>
      <!-- ========== End buttons ========== -->
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ miFormulario.valid }}</pre>

    <span>Pristine</span>
    <pre>{{ miFormulario.pristine }}</pre>

    <span>Touched</span>
    <pre>{{ miFormulario.touched }}</pre>

    <span>Value</span>
    <pre>{{ miFormulario.value | json }}</pre>

    <span>Custom directive [existencias]</span>
    <pre>{{ miFormulario.controls["existencias"].errors | json }}</pre>
  </div>
</div>
