<h2>Reactivos: <small>Dinamicos</small></h2>
<hr />

<!-- when you click "Guardar", this sumit is executed double time (submit)="guardar()" -->
<form autocomplete="off" [formGroup]="miFormulario">
  <!-- ========== Start nombre ========== -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        placeholder="Nombre del guey"
        formControlName="nombre"
      />
      <span class="form-text text-danger" *ngIf="checkField('nombre')">
        Campo obligatorio
      </span>
    </div>
  </div>
  <!-- ========== End nombre ========== -->

  <!-- ========== Start Agregar ========== -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          [formControl]="nuevoFavorito"
          placeholder="Agregar juego favorito"
          (keyup.enter)="agregarFavorito()"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="agregarFavorito()"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>
  <!-- ========== End agregar ========== -->

  <!-- ========== Start lisFavoritos ========== -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9" formArrayName="favoritos">
      <div
        class="input-group mb-1"
        *ngFor="let favorito of favortiosArry.controls; let i = index"
      >
        <input class="form-control" [formControlName]="i" />
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="borrar(i)"
        >
          X
        </button>
      </div>
    </div>
  </div>
  <!-- ========== End lisFavoritos ========== -->

  <div class="row">
    <div class="col-sm-12">
      <button
        type="submit"
        class="btn btn-primary float-end"
        (click)="guardar()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<hr />
<span>VAlid</span>
<pre>{{ miFormulario.valid }}</pre>

<hr />
<span>Value</span>
<pre>{{ miFormulario.value | json }}</pre>
<br />

<hr />
<span>Form control nuevo favorito</span>
<pre>{{ nuevoFavorito.valid | json }}</pre>
<pre>{{ nuevoFavorito.value | json }}</pre>
<br />
